.circle {
  border: 1px solid black;
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background: url("../assets/img/mouse.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
