.circle {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background: url("https://grid.gograph.com/happy-mole-cartoon-vector-art_gg68718247.jpg");
  background-position: center;
  background-size: cover;
}
