.App {
  text-align: center;
  line-height: 1.8;
  font-size: 1.8rem;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-size: clamp(3rem, 4vw, 5rem);
  letter-spacing: 5px;
}

h2 {
  padding-block: 1rem;
}

.circles {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(0, auto));
  grid-auto-flow: row;
  padding: 4rem 0;
  gap: 2rem;
  border: 1px solid red;
}

img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
